body {
    margin: 0 auto;
    height: 500px;
    font-size: 15px;
    color: aliceblue;
    background: #E5E5E5;
}

main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form-container{
    position: relative;
    z-index: 2;
    height: 340px;
    max-width: 625px;
    padding-left: 30px;
    padding-right: 30px;
}

.button{
    display: block;
    Width: 170px;
    Height :22px;
    background: #6979F8;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}

.form-field {
    margin-bottom: 13px;
}
